/* CSS declarations go here */
.panel-title {
  font-weight: bold;
  color: #333;
}

.no-margin p {
  margin: 0;
}

img {
  max-width: 100%;
}

code {
  -ms-word-break: break-all;

       /* Be VERY careful with this, breaks normal words wh_erever */
       word-break: break-all;

       /* Non standard for webkit */
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.timestamp code {
  font-size: 80%;
  color: #333;
}
