<template name="cardForLogs">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{#if isInRole 'admin'}}
            {{> logSubmitForm}}
          {{else}}
            <h1 class="panel-title">What I Learned Today</h1>
          {{/if}}
        </div>
        <ul class="list-group">
          {{#each logs}}
            {{> cardForSingleLog}}
          {{/each}}
          <li class="list-group-item">EOF</li>
        </ul>
        {{#if isInRole 'admin'}}
        {{else}}
        <div class="panel-footer">
          {{> anonymousLogForm}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="logSubmitForm">
  <form role="form">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="What I learned today">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
      </span>
    </div>
  </form>
</template>

<template name="cardForSingleLog">
  <li class="list-group-item no-margin">
    {{#if isInRole 'admin'}}
      {{> cardForSingleLogButtons}}
    {{/if}}
    <span class="pull-right timestamp"><code>{{timestamp createdAt}}</code></span>
    {{#markdown}}{{text}}{{/markdown}}
  </li>
</template>

<template name="cardForSingleLogButtons">
  <button type="button" class="btn btn-default btn-xs pull-right delete">delete</button>
</template>

<template name="cardForPosts">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="{{pathFor route='singlePost'}}"><h1 class="panel-title">{{title}}</h1></a>
        </div>
        <div class="panel-body">{{#markdown}}{{text}}{{/markdown}}</div>
        <div class="panel-footer">
          {{> anonymousCommentForm}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="cardForSinglePost">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class=" panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">{{title}}</h1>
          </div>
          <div class="panel-body">{{#markdown}}{{text}}{{/markdown}}</div>
          <div class="panel-footer">
            <span class="timestamp"><code>{{dateTime createdAt}}</code></span>
            <span class="pull-right">
              <a href="{{pathFor route='topicPosts'}}">{{topic}}</a>
              {{#if isInRole 'admin'}}
               | <a href="{{pathFor route='postEdit'}}">edit</a>
              {{/if}}
            </span>
          </div>
          <div class="panel-footer">
            {{> anonymousCommentForm}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="cardForSingleAnonymousComment">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            It's recommended to bookmark this private page to receive my future reply.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class=" panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Discussion: <a href="/p/{{post._id}}">{{post.title}}</a></h1>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="pull-right timestamp"><code>{{dateTime comment.createdAt}}</code></span>
              {{comment.text}}
            </li>
            {{#each comments}}
              {{> singleAnonymousComment}}
            {{/each}}
          </ul>
          <div class="panel-footer">
            {{> anonymousCommentFormForSingleAnonymousComment}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="singleAnonymousComment">
  <li class="list-group-item {{isAdmin}}">
    <span class="pull-right timestamp"><code>{{dateTime createdAt}}</code></span>
    {{text}}
  </li>
</template>

<template name="anonymousCommentFormForSingleAnonymousComment">
  <form role="form">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Chat anonymously">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
      </span>
    </div>
  </form>
</template>
