<template name="dashboard">
  <div class="container-fluid">
    <div id="masonry" class="row">
      {{> cardForLogs}}
      {{> postForm}}
      {{> anonymousComments}}
    </div>
  </div>
</template>

<template name="login">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class=" panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Account</h1>
          </div>
          <div class="panel-body">{{> loginButtons}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="anonymousLogs">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">What They Learned</h2>
        </div>
        <ul class="list-group">
          {{#each logs}}
            {{> anonymousLog}}
          {{/each}}
          <li class="list-group-item">EOF</li>
        </ul>
        {{> diabledFooter}}
      </div>
    </div>
  </div>
</template>

<template name="anonymousLog">
  <li class="list-group-item">
    {{> anonymousLogButtons}}
    {{text}}
  </li>
</template>

<template name="anonymousLogButtons">
  <button type="button" class="btn btn-default btn-xs pull-right delete">delete</button>
</template>

<template name="anonymousComments">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading full-width">
          <h2 class="panel-title">Comments</h2>
        </div>
        <ul class="list-group">
          {{#each comments}}
            {{> anonymousComment}}
          {{/each}}
          <li class="list-group-item">EOF</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="anonymousComment">
  <li class="list-group-item">
    {{> anonymousCommentButtons}}
    {{text}}
  </li>
</template>

<template name="anonymousCommentButtons">
  <div class="btn-group btn-group-xs pull-right" role="group">
    <button type="button" class="btn btn-default link">link</button>
    <button type="button" class="btn btn-default delete">delete</button>
  </div>
</template>

<template name="postForm">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading full-width">
          <h2 class="panel-title">Compose</h2>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
              <label for="text">Text</label>
              <textarea type="text" class="form-control" id="text" rows="5"></textarea>
            </div>
            <div class="form-group">
              <label for="text">Topic</label>
              <input type="text" class="form-control" id="topic">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
