<template name="allPosts">
  <div class="container-fluid">
    <div id="masonry" class="row">
      {{#each posts}}
        {{> cardForPosts}}
      {{/each}}
    </div>
  </div>
</template>

<template name="topicPosts">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 visible-xs-block">
        <div class="panel panel-default">
          <div class="panel-body">
            This page is all about <strong>{{topic}}</strong>. You can always read <a href="/">all posts</a>.
          </div>
        </div>
      </div>
    </div>

    <div id="masonry" class="row">
      {{#each posts topic}}
        {{> cardForPosts}}
      {{/each}}
    </div>
  </div>
</template>

<template name="anonymousCommentForm">
  <form role="form">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Ask anonymously">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Submit</button>
      </span>
    </div>
  </form>
</template>
